.DS-Store
ln-files/.vim/plugged/
ln-files/.config/coc/extensions/node_modules/
ln-files/.config/gh/hosts.yml
ln-files/.zsh/.zsh_history
ln-files/.zsh/.chpwd-recent-dirs
ln-files/.vim/viminfo
ln-files/.config/lesshst
